.btn {
  width: 300px;
  height:150px;
  border-radius: 0px;
  margin-bottom: 50px;
  font-size: 200%;
}
.btn-open{
  color: #fff;
  background: #09b154;
}
.btn-exit{
  color: #fff;
  background: #b11409;
}