<div class="col text-center">
  <div class="arrow">
    <button class="btn btn-open" (click)="onClick()">INGRESO</button>
  </div>
  <div class="arrow">
    <button class="btn btn-exit" (click)="finalizarAsistencia()">SALIDA</button>
  </div>
</div>
