

<div>
  <button class="btn btn-success"style="float: right; margin-right: 50px;" >Add docente</button>
  <h1>Tabla de docentes</h1>
</div>
<div class="border-top" style="margin-bottom: 1rem !important;">
</div>
<div class="col-md-12 mb-3" style="margin-top: 10px;">
  <ngx-datatable class="material container " [rows]="rows" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
    rowHeight="auto">
    <ngx-datatable-column name="#" prop="id" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.id  }}
      </ng-template>
    </ngx-datatable-column>

    
    <ngx-datatable-column name="Apellido" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row?.apellido }}
      </ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="Nombre" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row?.nombre}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="DNI" [flexGrow]="2">
  
    </ngx-datatable-column>
    <ngx-datatable-column name="Fecha de Nacimiento" prop="fecha_nacimiento" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{ row.fecha_nacimiento | date:'dd/MM/yy'}}
      </ng-template>
</ngx-datatable-column>
    <ngx-datatable-column name="Operaciones" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a class="btn btn-primary btn-sm" [routerLink]="'/docentes/edit/'">
          <i class="fa-solid fa-pen"></i>
        </a>
        <a class="btn btn-danger btn-sm" (click)="deleteDocente(row?.id)">
          <i class="fa-solid fa-trash"></i>
        </a>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>