footer{
  text-align: center;
  background-color: #1976d2;
  line-height : 0.5em;
  font-size: 0.9em;
  width: 100%;
  height: 4.5em;
  padding:1em 1em;
  color: #fff;
  position:absolute;
  bottom: 0em;
}