<div class="container col-4">
  <div class="form-group">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" placeholder="username" class="form-control">
  <div>
<div class="form-group">
  <label for="username">Password:</label>
  <input type="text" name="password" id="password" placeholder="password" class="form-control">
</div>
  <button type="submit"class="btn btn-primary">Inicar Sesion</button><br/>
  <a href="/">Go back...</a>
</div>