<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Editar Docente</h3>
      </div>
      <div class="card-body">
        <form >
          <div class="form-group">
            <label for="inputName">DNI</label>
            <input class="form-control" type="text" formControlName="dni" />
            <div
              class="invalid-feedback"
            >
              DNI is required.
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3">Nombre</label>
            <input class="form-control" type="text" formControlName="nombre" />
            <!-- error -->
            <div
              class="invalid-feedback"

            >
              Enter your name.
            </div>
            <div
              class="invalid-feedback"
              
            >
              Enter valid email.
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3">Apellido</label>
            <input class="form-control" type="text" formControlName="apellido" />
            <!-- error -->
            <div
              class="invalid-feedback"

            >
              Enter your name.
            </div>
            <div
              class="invalid-feedback"
              
            >
              Enter valid email.
            </div>
          </div>


          <div class="form-group">
            <label for="inputVerify3">Fecha de Nacimiento</label>
            <input
              class="form-control"
              type="datetime"
              formControlName="fecha_nacimiento"
            />
            <!-- error -->
            <div
              class="invalid-feedback"
              
            >
              Enter your phone number.
            </div>
            <div
              class="invalid-feedback"
              
            >
              Enter Numbers Only
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- form  -->
  </div>
</div>