<div>
  <h1>Angular HTML Table Example</h1>
  <table>
     <thead>
        <tr>
           <th>#ID</th>
           <th>Name</th>
           <th>Email</th>
           <th>Phone</th>
           <th>Address</th>
           <th>Action</th>
        </tr>
     </thead>
     <tbody>
        <tr >
           <th> 1 </th>
           <td> juan </td>
           <td> juanperez@gmail.com </td>
           <td> 2964400555</td>
           <td> Colon751 </td>
           <td>
              <button type="button" >Edit</button>
              <button type="button" >Delete</button>
           </td>
        </tr>
     </tbody>
  </table>
</div>